<template>
  <div class="q-pa-lg row items-start q-gutter-lg">

    <!-- Left side of screen -->
    <div class="col-4 row">
      <q-card class="my-card q-pb-sm col-12 q-mb-lg">
        <q-card-section> <!-- Socket Settings -->
          <div class="text-h6">Socket settings</div>
          
            <div class="q-gutter-sm q-mt-sm">
              <q-radio :disabled="connected" v-model="config.socketFunct" val="client" label="Client" />
              <q-radio :disabled="connected" v-model="config.socketFunct" val="server" label="Server" />
            </div>
            <q-input :disabled="connected" class="q-mt-sm" outlined v-model="config.ipaddress" label="IP address" dense />
            <q-input :disabled="connected" class="q-mt-sm" outlined v-model="config.port" label="Port" dense />
            <div class="q-gutter-sm q-mt-sm">
              <q-radio :disabled="connected" v-model="config.socketType" val="tcp" label="TCP" />
              <q-radio :disabled="connected" v-model="config.socketType" val="udp" label="UDP" />
            </div>
          
          <q-btn v-if="!connected" class="q-mt-sm" color="primary" label="Connect" @click="createSocket()"></q-btn>
          <q-btn v-if="connected" class="q-mt-sm" color="warning" label="Disconnect" @click="removeSocket()"></q-btn>
          <q-circular-progress v-if="waiting"
            indeterminate
            size="40px"
            color="lime"
            class="q-ma-sm"
          />
        </q-card-section>
      </q-card>
      <q-card class="my-card q-pb-sm col-12"> <!-- Configuration profiles -->
        <q-card-section>
          <div class="text-h6">Configurations</div>
          <div class="q-pb-md q-pt-sm"> 
            <q-select
              filled
              v-model="configFile"
              label="Load config"
              :options="configOptions"
              style="width: 100%"
              behavior="menu"
            >

              <template v-slot:after>
                <q-btn @click="loadConfiguration" round dense flat icon="publish" />
              </template>
            </q-select>
          </div>
          <div> 
            <q-btn color="secondary" class="q-mr-lg" @click="configPrompt = true" label="Save" />
            <q-btn color="negative" @click="removePrompt = true" label="Remove" />
          </div>
        </q-card-section>
      </q-card>
    </div>

    <!-- Right of screen -->
    <div class="row col">
      <q-card class="my-card q-pb-lg col-12 q-mb-lg"> <!-- message LOG's -->
        <q-card-section>
          <div class="text-h6">LOG</div> 
          <q-scroll-area style="height: 30vh; max-width: 100%;">
            <q-list bordered separator v-for="(item, index) in log.slice().reverse()" :key="index">
              <q-item>
                <q-item-section>{{ log.length - index }}: {{ item }}</q-item-section>
              </q-item>
            </q-list>
          </q-scroll-area>
        </q-card-section>
      </q-card>

      <!-- Send new message -->
      <q-card class="my-card col-12"> <!-- Message control -->

        <q-card-section>
          <q-banner inline-actions class="text-white bg-red" v-if="sendError">
            Error: Could not send the message
            <template v-slot:action>
              <q-btn @click="sendError = false" flat color="white" label="Dismiss" />
            </template>
          </q-banner>
          <q-input bottom-slots v-model="message" v-on:keyup.enter="sendMessage()" label="Send message" counter>
          <!-- <q-toggle v-model="numberValue" label="Num"/> -->
          <q-btn flat icon="send" @click="sendMessage()" ></q-btn>
        </q-input>
          
        </q-card-section>
        <q-card-section >
          <div class="row">
            <!-- Message settings -->
            <div class="q-pa-sm col-2"> <q-select v-model="config.encoding" :options="encodingOptions" label="Encoding" /> </div>
            <div class="q-pa-sm col-2"> <q-select v-model="config.decoding" :options="encodingOptions" label="Decoding" /> </div>
            <div class="q-pa-sm col"> <q-select v-model="config.target" :options="clients" label="Target" />   </div>
          </div>
        </q-card-section>
      </q-card>
    </div>


    <div class="row col-12">
      <div class="q-pa-md">
    <q-btn color="purple" label="Pannels">
      <q-menu>
        <div class="row no-wrap q-pa-md">
          <div class="column">
            <div class="text-h6 q-mb-md">Settings</div>
            <q-toggle v-model="config.pannels.keybinds" label="Keybinds" />
            <q-toggle v-model="config.pannels.connections" label="Connections" />
            <q-toggle v-model="config.pannels.driving" label="Driving" />
          </div>

          
        </div>
      </q-menu>
    </q-btn>
  </div>

    </div>

     <!-- Bottom of screen -->
    <div class="row col-12" v-if="config.pannels.driving">
      <q-card class="my-card q-pb-lg col q-ma-lg">
        <q-card-section>
          <div class="text-h6">LEFT</div>
          
        </q-card-section>
      </q-card>

      <q-card class="my-card q-pb-lg col q-ma-lg">
        <q-card-section>
          <div class="text-h6">Right</div>
        </q-card-section>
      </q-card>

      <q-card class="my-card q-pb-lg col q-ma-lg">
        <q-card-section>
          <div class="text-h6">Backwards</div>
        </q-card-section>
      </q-card>

      <q-card class="my-card q-pb-lg col q-ma-lg">
        <q-card-section>
          <div class="text-h6">Forward</div>
        </q-card-section>
      </q-card>
    </div>
    
    <!-- DIALOG WINDOWS -->
    <q-dialog v-model="configPrompt" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Configuration name</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-input dense v-model="configName" autofocus/>
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="Cancel" v-close-popup />
              <q-btn flat label="Save Configuration" @click="saveNewConfiguration" v-close-popup />
            </q-card-actions>
          </q-card>


        </q-dialog>
        <q-dialog v-model="removePrompt" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Remove Configuration</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
             
             <q-select
              filled
              v-model="configName"
              label="Remove config"
              :options="configOptions"
              style="width: 100%"
              behavior="menu"
            ></q-select>
            
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="Cancel" v-close-popup />
              <q-btn flat label="Remove Configuration" @click="removeConfiguration" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
  </div>





</template>

<script>

const { ipcRenderer } = require('electron')

export default {
  name: 'PageIndex',
  /***
   * @function data
   * Initalise the data in this VUE instance
   */
  data() {
    return {
     message: '',
     
     waiting: false,
     log: [],
     connected: false,
     sendError: false,
     
     numberValue: 0,
     encodingOptions: ['utf8', 'utf16le', 'latin1', 'base64', 'base64url', 'hex', 'ascii', 'binary', 'ucs2'],
     
     removePrompt: false,
     configPrompt: false,
     configName: '',
     config: {
        socketFunct : 'client', // client or server 
        socketType  : 'tcp', // tcp or udp
        ipaddress   : '127.0.0.1',
        port        : '8124',
        pannels: {
          'keybinds': false,
          'connections': false,
          'driving': false
        },
        encoding    : 'utf8',
        decoding    : 'utf8',
        target      : null
     },
     configFile: '',
     configOptionList: {},
     configOptions: [],
     clients: [

     ],
    }
  },
  /***
   * @function created
   * Run after instance is created
   * Setup the event listeners and enable dark mode
   */
  created () {
    /* Set darkmode */
    this.$q.dark.set(true),

    /***
     * @event sendMessage
     * @param event the event instance
     * @param arg the message or response
     * console log the incomming message
     */
    ipcRenderer.on('sendMessage', (event, arg) => {
      console.log(arg)
    }),

    /***
     * @event createSocket
     * @param event the event instance
     * @param arg fail or success
     * When received fail it was not successful if success the socket creation was
     */
    ipcRenderer.on('createSocket', (event, arg) => {
      // Create socket return
      console.log(arg)
      if(arg == 'success'){
        this.waiting = false;
      } else if(arg == 'fail'){
        this.waiting = false;
        this.connected = false;
      }
    }),

    /***
     * @event logMessage
     * @param event the event instance
     * @param arg the message to log
     * Log a received message
     */
    ipcRenderer.on('logMessage', (event, arg) => {
      // Send message
      console.log(arg)
      this.log.push(arg)
    }),

    /***
     * @event removeSocket
     * @param event the event instance 
     * @param arg the data
     * Reset the connection and waiting variables
     */
    ipcRenderer.on('removeSocket', (event, arg) => {
      this.connected = false;
      this.waiting = false;
    }),

    /***
     * @event error
     * @param event the event instance
     * @param arg the error message
     * alert the user to an error with a popup
     */
    ipcRenderer.on('error', (event, arg) => {
      // TODO: add error handeling
      alert(arg);
    }),

    /***
     * @event success
     * @param event the event instance
     * @param arg the success message
     * Console log a success message
     */
    ipcRenderer.on('success', (event, arg) => {
      // TODO: add success handeling
      console.log(arg);
    }),

    /***
     * @event log
     * @param the event message
     * @param arg the log message
     * console log a standard log message
     */
    ipcRenderer.on('log', (event, arg) => {
      // TODO: add success handeling
      console.log(arg);
    }),

    /***
     * @event client_connected
     * @param event: The event details
     * @param arg: An object containing information about the client
     * 
     * Get the new client details and update the frontend client list
     */
    ipcRenderer.on('client_connected', (event, arg) => {
      this.clients.push(arg);
    }),
    /***
     * @event client_disconnected
     * @param event: The event details
     * @param arg: An object containing information about the client
     * 
     * Get the new client details and update the frontend client list
     */
    ipcRenderer.on('client_disconnected', (event, arg) => {

    }),

    ipcRenderer.on('clients_updated', (event, arg) => {
      this.clients = arg;
    })


  },

  /***
   * @object methods
   * The methods/functions available in this instance
   */
  methods: {

    /***
     * @function sendMessage
     * Send a new message over the socket
     */
    sendMessage(){
      console.log('Sending message')
      if(this.connected == true && this.message != ''){
        this.sendError = false;
        ipcRenderer.send('sendMessage', this.message, this.numberValue)
        this.message = ''
      } else {
        this.sendError = true;
      }
    },

    /***
     * @function createSocket
     * Ask for a new socket based on the settings
     * Wrap the settings in a data object
     */
    createSocket(){
      this.waiting = true;      // Set program in waiting state
      this.connected = true;    // Say program is connected
    
      ipcRenderer.send('createSocket', this.config)
    },

    /***
     * @function removeSocket
     * Ask for an end socket event
     */
    removeSocket(){
      this.waiting = true;
      ipcRenderer.send('removeSocket', 'close')
    },

    /***
     * @function saveNewConfiguration
     * Save a new configruation in local storage
     */
    saveNewConfiguration () {
      if(this.configName !== '') {
        // Add option to the new list
        this.configOptionList[this.configName] = this.config;
        this.configName = '';

        // Update the dropdown selector
        this.configOptions = Object.keys(this.configOptionList);

        // Save to localstorage
        this.saveConfigurations ();
      }
    },
    /***
     * @function saveConfigurations
     * Save all configurations to local storage
     */
    saveConfigurations () {
      const parsed = JSON.stringify(this.configOptionList);
      localStorage.setItem('configOptionList', parsed);
    },

    /***
     * @function removeConfiguration
     * Remove a specific configuration from the list
     */
    removeConfiguration () {
      // TODO: ADD FAIL message
      if(this.configName !== '') {

        console.log(this.configOptionList[this.configName])
        
        delete this.configOptionList[this.configName]
        
        console.log(this.configOptionList[this.configName])

        // Save all configuragions
        this.saveConfigurations();
        this.configName = '';
        // Update the dropdown selector
        this.configOptions = Object.keys(this.configOptionList);
      }

    },

    loadConfiguration () {
      console.log(this.configFile);
      console.log(this.configOptionList[this.configFile]);
      this.config = this.configOptionList[this.configFile];

    }

  },
  mounted() {
    
    this.$nextTick(function () {
    // Code that will run only after the
    // entire view has been rendered
    if (localStorage.getItem('configOptionList')) {
      try {
        this.configOptionList = JSON.parse(localStorage.getItem('configOptionList'));
         // Update the dropdown selector
        this.configOptions = Object.keys(this.configOptionList);
      } catch(e) {
        alert(e.message)
        // localStorage.removeItem('configOptionList');
      }
    }
  })
  }


}
</script>
